<div class="message" data-id=<%= message._id %>>
    <div class="message-top">
        <div class="message-board">
            <a href=<%= message.board.url %> >
                b/<%= message.board.name %>
            </a>
        </div>
        <div class="message-creator">
            Posted By - 
            <% if (user.activeMember) { %>
                <a href=<%= message.user.url %> >
                    <%= message.user.name %>
                </a>    
            <% } else { %>
                Anonymous
            <% }; %> 
        </div>
        <% if (user.activeMember) { %>
            <div class="message-creator">
                Posted On - <%= message.formatted_date %>
            </div>
        <% } %>
            

    </div>
    <div class="message-bottom">
        <div class="columns">
            <h3 class="message-title">
                <%= message.title %>
            </h3>
            <p class="message-message">
                <%= message.message %>
            </p> 
        </div> 
    </div>
</div>