<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
    <title>Private Message Board</title>
</head>
<body>
    <nav>
       <%- include('partials/navbar.ejs', {user}) %>
    </nav>
    <main>
        <% if (user) { %>
        <%- include('partials/createNew.ejs') %>
        <% } %>
        <div class="message-container">
            <% for(let message of messages) {%>
            <%- include('partials/message', {message, user}) %>
            <% }; %>
        </div>
    </main>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>