<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
    <title>Private Message Board</title>
</head>
<body>
    <header>
       <%- include('partials/navbar.ejs', {user}) %>
    </header>
    <main>
        <h1>
            <%= title %>
        </h1>
            <%- include("partials/loginForm.ejs") %>
    </main>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>