<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
    <title>Private Message Board</title>
</head>
<body>
    <header>
       <%- include('partials/navbar.ejs', {user}) %>
    </header>
    <main>
        <% if (isCurrentUser) { %>
            <%- include('partials/createNew.ejs') %>
            <%- include('partials/createNewBoard.ejs') %>
            <% } %>    
        <div class="message-container">
            <% for(let message of messages) {%>
            <%- include('partials/message', {message, user, isCurrentUser}) %>
            <% }; %>
        </div>
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>